@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 88%;
}

body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container_desafio {
    width: 60rem;
    height: 15rem;
    margin-top: 8rem;
    border-radius: 1.5rem;
    display: grid;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.644);
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.3em;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.644);
    text-transform: uppercase;
}

.container_jogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.barra_progresso {
    width: 90%;
    height: 0.7rem;
    overflow: hidden;
    background-color: #646464;
    border-radius: 2rem;
}

.barra_atual {
    width: 100%;
    height: 100%;
    background-color: #2fd12f;
    transition: background-color 1s;
}

.linha_de_tecla {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    align-content: center;
    gap: 0.9rem;
    height: 100px;
    width: 90%;
}

.tecla {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    aspect-ratio: 1;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.644);
    font-size: 2.3em;
    color: white;
    transition: all .2s ease-in-out;
}

.tecla_atual {
    transform: translateY(-10px);
    border: 2px solid rgb(255, 255, 255);
    bottom: 0.8rem;
}

.tecla_digitada {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: white;
    opacity: 0.5;
}

.tentativas {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 1.3em;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

.botao_de_inicio {
    height: 3.5rem;
    padding: 0 15px;
    border-radius: 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.644);
    transition: .2s;
}

.botao_de_inicio:hover {
    font-size: 1.55rem;
}

.botao_de_parar {
    height: 3.5rem;
    padding: 0 15px;
    border-radius: 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;

    font-size: 1.5rem;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    font-family: 'Poppins', sans-serif;
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.644);
    transition: .4s;
}

.botao_de_parar:hover {
    font-size: 1.55rem;
}

.resultado_negativo, .resultado_positivo {
    display: none;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 2.8rem;
    text-align: center;
}

.active {
    box-shadow: rgb(41, 245, 0) 0px 20px 0px -10px;
}

.container_devs {
    text-align: center;
    margin-top: 6rem;
    position: absolute;
    bottom: 40px;
}

.links_gerais {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}

a {
    text-decoration: none;
    color: #fff;
    transition: .2s;
}

a:hover {
    color: #fff;
    text-decoration: underline;
}

.links_gerais img {
    padding: 0.5rem;
    transition: .3s;
    border-radius: 50%;
}

.links_gerais img:hover {
    transform: scale(1.2);
}

.devs {
    width: 10rem;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.125);
    display: inline-block;
    margin-left: 15px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.644);
}

.devs h4 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 7px;
}
